node_modules/
lib/
npm-debug.log
yarn-error.log
firebase-debug.log
firebase-debug.*.log
firestore-debug.log
ui-debug.log
.runtimeconfig.json
.env
.env.*
*.log
.next/
**/functions/.env
**/*.secret.local
**/*.env.local
